@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --bg: #f8f8f8;
  --grey: #cccccc;
  --dark: #444d58;
  --light: #e6e6e6;
  --wrapper: 1000px;
  --blue: #43c7ff;
}

.chat {
  .fix {
    flex: 1 1 auto;
  }
  scroll-behavior: smooth;
  position: relative;
  padding: 0 15px 10px;

  border-color: var(--light);
  height: 100%;
  // justify-content: flex-end;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  &.active-chat {
    // display: block;
    .bubble {
      flex: 1 0 auto;
      transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) {
          animation-duration: 0.15s * $i;
        }
      }
    }
  }
}

.bubble {
  font-size: 14px;
  position: relative;
  display: inline-block;
  clear: both;
  margin-bottom: 8px;

  vertical-align: top;
  border-radius: 25px;
  &.you {
    float: left;
    color: var(--dark);

    align-self: flex-end;
    animation-name: slideFromRight;
    display: flex;
    align-items: center;
    align-self: flex-start;
    animation-name: slideFromLeft;

    .text {
      background-color: #eae8ed;
      border-radius: 10px 10px 10px 2px;
      padding: 12px 14px;
      float: left;
      flex: 1;
      &:before {
        left: -3px;
        background-color: #eceff1;
      }
    }
  }
  &.me {
    float: right;
    color: var(--white);
    align-self: flex-end;
    animation-name: slideFromRight;
    display: flex;
    align-items: center;
    .text {
      background-color: var(--blue);
      border-radius: 10px 10px 2px 10px;
      padding: 12px 14px;
      float: left;
      flex: 1;
      &:before {
        right: -3px;
        background-color: var(--blue);
      }
    }
    .avatar {
      width: 35px;
      height: 35px;
      background: #43c7ff;
      background-image: url("./images/amelia-icon.jpg");
      background-repeat: no-repeat;
      background-size: auto;
      background-size: 35px 35px;
      border-radius: 50%;
      margin: 10px;
      float: right;
    }
  }
}
.conversation-start {
  position: relative;
  width: 100%;
  margin-bottom: 27px;
  text-align: center;
  span {
    font-size: 14px;
    display: inline-block;
    color: var(--grey);
    &:before,
    &:after {
      position: absolute;
      top: 10px;
      display: inline-block;
      width: 38%;
      height: 1px;
      content: "";
      background-color: var(--light);
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
}

@keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
